@font-face {
    font-family: 'Vasek';
    src: url("/src/assets/Vasek-Italic_0.woff") format("woff");
}

@font-face {
    font-family: 'AubreyPro';
    src: url("/src/assets/AubreyPro.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navi, footer {
    background: linear-gradient(#bbb, transparent 1px), linear-gradient(90deg, #bbb, transparent 1px);
    background-color: #fff;
    background-size: 10px 10px;
    background-position: center center;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
}

.my-btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #414141;
    border-radius: 10px;
    color: #414141;
    transition: .2s ease-in-out;
}

.my-btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 72px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.my-btn:hover {
    background: #80D8FF;
    color: #fff;
}

.my-btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}